:root{
    --maincolor:rgb(12, 90, 118);
    --bordercolor:grey;
    --darkwhite:rgba(221, 221, 221, 0.18);
    --herotextcolor: rgb(233, 169, 8);
    --toppagecolor: rgb(0, 20, 30);
    --textcolor: rgb(248, 248, 255); 
    --black: rgb(0, 12, 25);
    --bodycolor: rgb(7, 73, 111);
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    outline: none;
    user-select: none;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--darkwhite);
}
.mainhead{
    display: flex;
    justify-content: space-between;
    background-color: var(--toppagecolor);
    position: sticky !important;
    top: 0;
    z-index: 1;
    padding: 2px 36px;
}

.head_logo img{
    width: 150px;
    height: 66px;
    padding: 20px;
}
.head_logo img:hover{
    transform: scale(1.2);
}
.head {
    display: flex;
    background-color: var(--toppagecolor);
    color: rgb(243, 214, 214);
}
.nav_list{
    list-style-type: none;
    margin-top: 16px;
    padding: 12px 18px;
    line-height: 1rem;
}
.nav_list:hover{
    background-color: var(--maincolor);
    border-block: 1px solid var(--bordercolor);
    box-shadow: 0.2px 0.2px 2px var(--bordercolor) ;
    transition: 0.3s linear;
    /* This transition is working as to give smooth 
    look while switching crusor through the content */
}
.nav_list a{
    color: var(--textcolor);
}
.hero{
    background-image: url(c2g.png);
    background-color: rgb(21, 48, 48);
    background-repeat: round;
   /*  opacity: 0.9; */
    height: 500px;
}
.hero p{
    width: fit-content;
    padding: 10px 280px;
    color: var(--herotextcolor);
    font-size: 2rem;
    font-weight: 600;    
}

.distributor_container{
    background-color: var(--bodycolor);
    padding: 15px 70px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.combo{
    border: 1px solid rgb(21, 48, 48);
    width: 300px;
    height: 250px;
    background-color: white;
}








.social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    color: var(--textcolor);
    height: 180px;
    border-block: 1px solid var(--bordercolor);
}
.socialsite {
    display: flex;
}
.socialsite li{
    padding: 6px;
}
.socialsite img{
    width: 42px;
}

footer{
    background-color: var(--darkwhite);
    height: 450px;
    background-color: var(--black);
}
.footer_container{
    display: flex;
    justify-content: flex-end;
    background-color: black;
    color: var(--textcolor);
}
.copyright_text{
    color: var(--textcolor);
    height: 85%;
}

.footer_container ul{
    display: flex;
}
.nav_list_bottom{
   color: var(--maincolor);
   margin-bottom: 16px;
}
.nav_list_bottom:hover{
    background-color: var(--maincolor);
    transition: 0.3s linear;
}
