:root{
    --maincolor:rgb(12, 90, 118);
    --bordercolor:grey;
    --darkwhite:rgba(235, 232, 232, 0.825);
    --herotextcolor: rgb(233, 169, 8);
    --toppagecolor: rgb(0, 20, 30);
    --textcolor: rgb(248, 248, 255); 
    --black: rgb(0, 12, 25);
    --bodycolor: rgb(7, 73, 111);
    --servicesbg: rgba(0, 0, 20, 0.9);
    --formfirstcolor: rgb(0, 255, 255);
}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    outline: none;
    user-select: none;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--darkwhite);
}
.mainhead{
    display: flex;
    justify-content: space-between;
    background-color: var(--toppagecolor);
    position: sticky !important;
    top: 0;
    z-index: 1;
    padding: 2px 36px;
}

.head_logo img{
    width: 150px;
    height: 66px;
    padding: 20px;
}
.head {
    display: flex;
    background-color: var(--toppagecolor);
    color: rgb(243, 214, 214);
}
.nav_list{
    list-style-type: none;
    margin-top: 16px;
    padding: 12px 18px;
    line-height: 1rem;
}
.nav_list:hover{
    background-color: var(--maincolor);
    border-block: 1px solid var(--bordercolor);
    box-shadow: 0.2px 0.2px 2px var(--bordercolor) ;
    transition: 0.3s linear;
    /* This transition is working as to give smooth 
    look while switching crusor through the content */
}
.nav_list a{
    color: var(--textcolor);
}
.hero{
    background-image: url(c2g.png);
    background-color: rgb(21, 48, 48);
    background-repeat: round;
   /*  opacity: 0.9; */
    height: 500px;
}
.hero p{
    width: fit-content;
    padding: 10px 280px;
    color: var(--herotextcolor);
    font-size: 2rem;
    font-weight: 600;    
}










.aboutUs{
    background-color: var(--bodycolor);
    padding: 15px 70px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.combo{
    border: 1px solid rgb(21, 48, 48);
    width: 400px;
    height: 280px;
    background-color: var(--darkwhite);
}
.services{
    background-color: var(--servicesbg);
    padding: 15px 70px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}





.middle{
    background-color: rgb(15, 2, 2);
    color: whitesmoke;
    display: flex;
    justify-content: center;
    overflow: scroll;

}
.staysmiddle{
    display: flex;
    justify-content: center;
    width: 450px;
    height: 200px;
    background-color: rgb(19, 48, 48);
    color: black;
    border: 1px solid var(--bordercolor);

}




















.social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    color: var(--textcolor);
    height: 180px;
    border-block: 1px solid var(--bordercolor);
}
.socialsite {
    display: flex;
}
.socialsite li{
    padding: 6px;
}
.socialsite img{
    width: 42px;
}

footer{
    background-color: var(--darkwhite);
    height: 450px;
    background-color: var(--black);
}
.footer_container{
    display: flex;
    justify-content: flex-end;
    background-color: black;
    color: var(--textcolor);
}


















.message_to_reader{
    color: var(--textcolor);
    width: 50%;
    padding: 6px;
    align-self: center;
    line-height: 2rem;
    font-size: 160%;
    color: var(--black);
}
.forms{
    width: 50%;
    margin: 6px 12px;
    background-color: var(--toppagecolor);
    padding: 30px 10px;
    border-radius: 6px;
}
.forms p{
    color: rgb(88, 208, 255);
    padding: 0px 3px;
    font-size: 1.6rem;
}
.contact_through_messages{
    display: flex;
    outline: 1px solid green;
    height: fit-content;
    background-color: bisque;
}
 input{
    display: flex;
    width: 100%;
    border: 1px solid rgb(61, 61, 127);
    border-radius: 6px;
    font-size: 1.3rem;
    font-weight: 550;
    margin: 10px 0px;
    padding: 24px 12px;
    background-color: var(--textcolor);
    /* color: rgb(0, 0, 0);    */
}
input::placeholder{
    color: var(--formfirstcolor);
    font-size: 1.3rem;
}
input:active{
    background-color: black;
}
#detail_message{
    height: 260px;
    display: flex;
    padding: 0px;
}
.submit{
    width: 100%;
    height: 4rem;
    border-radius: 6px;
    background-color: var(--maincolor);
    border: 1px solid var(--bordercolor);
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--textcolor);
}
.submit:hover{
    transition: 0.3s;
    background-color: var(--toppagecolor);
    color: var(--formfirstcolor);
}





























.copyright_text{
    color: var(--textcolor);

}

.footer_container ul{
    display: flex;
}
.nav_list_bottom{
   color: var(--maincolor);
   margin-bottom: 16px;
}
.nav_list_bottom:hover{
    background-color: var(--maincolor);
    transition: 0.3s linear;
}


