:root {
    --darkmaincolor:rgb(12, 90, 118);
    --maincolor: #57ADBF;
    --darktoppagecolor: #082d51;
    --toppagecolor: #2B2E63;
    --bordercolor:#575859;
    --darkwhite:rgba(235, 232, 232, 0.825);
    --herotextcolor: rgb(233, 169, 8);
    --textcolor: rgb(248, 248, 255);
    --black: rgb(0, 12, 0);
    --bodycolor: rgb(7, 73, 111);
    --servicesbg: rgba(0, 0, 20, 0.9);
    --formfirstcolor: #00c6ff;
    --contrasting: linear-gradient(to right, rgb(221, 204, 78) 0.01%, rgb(221, 190, 65) 99.9% );
  }
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    outline: none;
    user-select: none;
    font-family: Cursive, Arial, Helvetica, sans-serif;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: var(--textcolor);
    cursor: pointer;
}
body{
    background-color: rgb(4, 132, 194);
}


main{
    header{
         position: sticky !important;
         background-color: var(--toppagecolor);
         top: 0;

        .navbar{
            display: flex;
            justify-content: space-between;
            padding: 0px 36px;
            width: 100%;
            
            .logo {
                width: 150px;
                height: 66px;
                padding: 20px;
            }
            .menu_icon{
                cursor: pointer; 
                margin: 15px -30px;
                display: none;

                .bar{
                    width: 25px;
                    height: 3px;
                    background-color: var(--darkwhite);
                    margin: 6px 30px;
                }
            }
            .head {
                display: flex;
                padding: 0px 12px;
    
                .nav_list{
                    margin: 10px 0px;
                    padding: 18px 18px;
                    line-height: 1rem;
    
                    &:hover{
                        border-block: 1px solid var(--maincolor);
                        box-shadow: 0.2px 0.2px 6px var(--maincolor) ;
                        transition: 0.3s linear;
                    }
                    
                    a{
                    color: var(--textcolor);
                    font-weight: bold;
                    font-size: 20px;
                        
                        &:hover{
                            color: var(--formfirstcolor);
                        }
                     }
                }
            }

            @media (min-width: 320px) and (max-width: 768px) {
                .menu_icon {
                  display: block;
                }
                .head {
                  display: none;
                  flex-direction: column;
                  position: absolute;
                  top: 90px;
                  left: 0;
                  width: 100%;
                  padding-bottom: 10px;
                  background-color: var(--toppagecolor);
                  animation: nav 0.2s ease-out;
                 .nav_list  {
                    width: 100%;
                    padding: 18px;
                    margin: 0px;
                    animation: nav 0.5s ease-out;
                     @keyframes nav {
                        0% { margin-left: -50px; }
                        100% { margin-left: 0px; }
                     }
                 }
                }
                  .head.show {
                     display: flex;
                }
              }
        }
    }    
    .hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../img/orave.png);
    background-color: rgb(21, 48, 48);
    background-repeat: round;
    height: 500px;
    p{
    padding: 0px 10px;
    color: var(--herotextcolor);
    font-size: 2rem;
    font-weight: 300;    
    }
    }
    .container{
     background-color: var(--bodycolor);
     padding: 15px 0px;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
     .combo{
        border: 1px solid var(--bordercolor);
        width: 25%;
        height: 395px;
        background-color: var(--darkwhite);
        overflow: hidden;
        font-size: larger;
        /* Overflow hidden is used to hide the text 
        when animation is starting from other content */
        
            &:hover{
                background-color: var(--textcolor);
            }

         @media (min-width: 320px) and
         (max-width: 768px) {
              width: 100%;
            }
         @media (min-width: 769px) and
            (max-width: 1024px) {
                  width: 50%;
              }
      }
     .flyright{
        p{
            padding: 10px;
            color: var(--black);
            animation: flyright 0.8s linear;
            @keyframes flyright {
                0%{scale: 0.6;}
                100%{scale: 1;}
                }
        }
      }
     .flyup{
        p{
            padding: 10px;
            color: var(--black);
            animation: flyup 0.6s linear;
            @keyframes flyup {
                0%{transform: translateY(150px) translateX(0px) ;}
                100%{color: var(--black);}
             }
        }
     }
     }
}
.container_body{
    background-color: var(--toppagecolor);
section{
    .active{
        width: 100%;
        background-color: var(--maincolor);
        padding: 18px 10px;
        border-block: 1px solid var(--bordercolor);

        .text{
            display: flex;
            justify-content: space-between;
            p{
                font-size: larger;
             }
             #slot{
                margin-right: 22px;
             }
        }
        
        .in_container{
            border: 1px solid var(--darkwhite);
            border-radius: 5px;
            box-shadow: 0.2px 0.2px 6px var(--textcolor);
            height: 106px;
            margin: 18px 0px 0px;
            padding: 0px 10px ;
            background-color: #f1f1f1;

            p{
                border-bottom: 1px solid rgb(8, 10, 26);
                width: fit-content;
            }
        }
    }
}
}
section{
    .passive{
        width: 100%;
        background-color: var(--maincolor);
        padding: 18px 10px;
        border-block: 1px solid var(--bordercolor);
        .text{
            display: flex;
            justify-content: space-between;
            p{
                font-size: larger;
             }
             #slot{
                margin-right: 22px;
             }
        }
        .in_container{
            border: 1px solid #f1f1f1;
            border-radius: 5px;
            box-shadow: 0.2px 0.2px 6px var(--textcolor);
            height: 106px;
            margin: 18px 0px 0px;
            padding: 0px 10px ;
            background-color: #f1f1f1;

            p{
                border-bottom: 1px solid rgb(8, 10, 26);
                width: fit-content;
            }
        }
    }
}

footer{
    .social{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--toppagecolor);
        color: var(--textcolor);
        height: 180px;
        border-block: 1px solid var(--maincolor);
        h3{
            padding: 10px 16px;
            text-align: center;

            &:hover{
                color: var(--formfirstcolor);
            }
        }
        
        .socialsite {
            display: flex;
        }

        li{
            padding: 6px;
    
            img{
                width: 50px;
            }
        }
    }
    .footer_container{
        display: flex;
        justify-content: flex-end;
        background-color: var(--toppagecolor);
        margin-right: 10px;
        ul{
            display: flex;
    
            .nav_list_bottom{
                margin: 10px 0px;
                padding: 12px 18px;
                font-size: larger;

                &:hover{
                    border-block: 1px solid var(--maincolor);
                    box-shadow: 0.2px 0.2px 6px var(--maincolor) ;
                    transition: 0.3s linear;
                }

                a{
                    color: var(--textcolor);

                    &:hover{
                        color: var(--formfirstcolor);
                    }
                }
             }
            
        }
    }
    .copyright_text{
        background-color: rgb(7, 7, 18);
        color: var(--textcolor);
        padding: 18px 6px;
    }
}